header {
    background-image: url("/assets/bg_home.webp");
    color: white;
    background-size: cover;
    background-position: center;
    height: 65vh;
    min-height: 300px;

    nav {
        padding: 30px;

        h1 {
            font-size: 1.8em;
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    h2 {
        color: var(--primary-color);
        font-size: 2.5em;
        text-align: center;
    }

    > div {
        height: 100%;
    }

    .search-bar-ct {
        color: var(--on-background);
        position: relative;

        input {
            width: 65vw;
            padding: 22px 50px 22px 30px;
            background-color: var(--surface-on-background);
            font-size: 1em;
        }

        button#clear-btn {
            position: absolute;
            right: 80px;
            background: transparent;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s;

            &.visible {
                opacity: 1;
                visibility: visible;
            }
        }

        button#search-btn {
            position: absolute;
            right: 10px;
            background: var(--on-background);
            padding: 10px 11px;
            transition: border-radius 0.2s;

            &:hover {
                border-radius: 30px;
            }

            &:active {
                background: var(--on-background-light);
            }
        }
    }
}

.custom-select {
    width: 200px;
    position: relative;

    button {
        background: transparent;
        padding: 15px;
        background: var(--surface-on-background);

        img {
            transition: transform 0.3s;
            transform: rotate(180deg);
        }
    }

    ul.list {
        position: absolute;
        list-style: none;
        max-height: 0;
        transition: max-height 0.3s;
        overflow: hidden;
        top: 100%;
        width: 100%;
        background: var(--surface-on-background);
        border-radius: 0 0 10px 10px;

        li {
            padding: 4px 15px;
            cursor: pointer;
            transition: background-color 0.1s;

            &:hover {
                background-color: rgba(0, 0, 0, 0.06);
            }

            &:active {
                background-color: var(--primary-color);
            }
        }
    }

    &.open {
        button {
            border-radius: 10px 10px 0 0;

            img {
                transform: rotate(0deg);
            }
        }

        ul.list {
            max-height: 200px;
            overflow-y: scroll;
        }
    }
}

main {
    padding: 20px;
}