header {
    background-image: url("/assets/bg_home.webp");
    color: white;
    background-size: cover;
    background-position: center;
    height: 65vh;
    min-height: 300px;

    nav {
        padding: 30px;

        h1 {
            font-size: 1.8em;
        }

        img {
            width: 20px;
            height: 20px;
        }
    }

    h2 {
        color: var(--primary-color);
        font-size: 2.5em;
        text-align: center;
    }

    > div {
        height: 100%;
    }

    .search-bar-ct {
        color: var(--on-background);
        position: relative;

        input {
            width: 65vw;
            padding: 22px 50px 22px 30px;
            background-color: var(--surface-on-background);
            font-size: 1em;
        }

        button#search-btn {
            position: absolute;
            right: 10px;
            background: var(--on-background);
            padding: 10px 11px;
            transition: border-radius 0.2s;

            &:hover {
                border-radius: 30px;
            }

            &:active {
                background: var(--on-background-light);
            }
        }
    }
}

button.clear-btn {
    position: absolute;
    right: 80px;
    background: transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;

    &.visible {
        opacity: 1;
        visibility: visible;
    }
}

.custom-select {
    width: 200px;
    position: relative;
    z-index: 10;

    > button {
        background: transparent;
        padding: 15px;
        background: var(--surface-on-background);

        img {
            transition: transform 0.3s;
            transform: rotate(180deg);
        }
    }

    div.list-ct {
        position: absolute;
        min-height: 100%;
        overflow: hidden;
        top: 0;
        width: 100%;
        background: var(--surface-on-background);
        z-index: -1;
        padding-top: 26%;
    }

    ul {
        list-style: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
        position: relative;

        li {
            padding: 4px 15px;
            cursor: pointer;
            transition: background-color 0.1s;

            &:hover {
                background-color: var(--primary-color);
            }
        }

        li.search {
            cursor: auto;
            position: sticky;
            top: 0;
            background: white;

            input {
                width: 100%;
                border-radius: 3px;
                border: var(--on-background-light) 1px solid;
                color: var(--on-background-light);
                padding: 5px;
                background: white;
            }

            > img, > button {
                position: absolute;
                right: 25px;
            }

            button {
                right: 45px;

                img {
                    height: 12px;
                    width: 12px;
                }
            }
        }
    }

    &.open {
        button {
            img {
                transform: rotate(0deg);
            }
        }

        ul {
            max-height: 250px;
            overflow-y: scroll;
        }
    }
}

main {
    padding: 20px;
}